bpemb
certifi
charset-normalizer
click
cloudpickle
conllu
cycler
Deprecated
elastic-transport
elasticsearch~=8.4.3
filelock
flair~=0.11.3
fonttools
ftfy
future
gdown
gensim
huggingface-hub
hyperopt
idna
importlib-metadata
Janome
joblib
kiwisolver
konoha
langdetect
lxml
matplotlib~=3.5.2
more-itertools
mpld3
networkx
numpy~=1.23.1
overrides
packaging
Pillow
pptree
pyparsing
PySocks
python-dateutil
PyYAML
regex
requests
sacremoses
scikit-learn
scipy
segtok
sentencepiece
six
smart-open
sqlitedict
tabulate
threadpoolctl
tokenizers
torch
torchaudio
torchtext~=0.6.0
torchvision
tqdm~=4.64.1
transformers~=4.18.0
typing_extensions
ujson~=5.4.0
Unidecode~=1.2.0
urllib3
wcwidth
Wikipedia-API
wrapt
zipp
rapidfuzz~=2.11.1
pandas~=1.5.1
transaction~=3.0.1
zodb~=5.7.0
btrees~=4.10.1
typing~=3.7.4.3
wikidata~=0.7.0