bpemb
certifi
charset-normalizer
click
cloudpickle
conllu
cycler
Deprecated
elastic-transport
elasticsearch~=8.4.3
filelock
flair
fonttools
ftfy
future
gdown
gensim
huggingface-hub
hyperopt
idna
importlib-metadata
Janome
joblib
kiwisolver
konoha
langdetect
lxml
matplotlib~=3.5.2
more-itertools
mpld3
networkx
numpy~=1.23.1
overrides
packaging
Pillow
pptree
pyparsing
PySocks
python-dateutil
PyYAML
regex
requests
sacremoses
scikit-learn
scipy
segtok
sentencepiece
six
smart-open
sqlitedict
tabulate
threadpoolctl
tokenizers
torch
torchaudio
torchtext~=0.13.1
torchvision
tqdm
transformers~=4.18.0
typing_extensions
ujson~=5.4.0
Unidecode~=1.2.0
urllib3
wcwidth
Wikipedia-API
wrapt
zipp
rapidfuzz