elasticsearch~=8.4.3
flair~=0.11.3
matplotlib~=3.5.2
numpy~=1.23.1
scipy~=1.9.1
torchtext~=0.6.0
enlighten~=1.12.2
tqdm~=4.64.1
transformers~=4.18.0
ujson~=5.4.0
Unidecode~=1.2.0
rapidfuzz~=2.11.1
pandas~=1.5.1
typing~=3.7.4.3
wikidata~=0.7.0
torchmetrics~=1.2.0
jsonlines~=2.0.0
tensorboard~=2.11.2